.wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 0;
}

.wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url('./../assets/weather-gradient-bg-cropped.jpg');
  background-size: cover;
  background-position: left;
  filter: brightness(1.2) saturate(1.3) hue-rotate(-5deg);
  z-index: -1;
  pointer-events: none;
}
