<section *ngIf="!cityWeather" class="text-center mt-5">

    <ng-container *ngIf="userProfile">
        <h1>Welcome {{userProfile.name || userProfile.nickname}}</h1>
        <h2><a [href]="userProfile.profileUrl" target="_blank">{{userProfile.profileUrl}}</a></h2>
    </ng-container>

    <div class="search-section mt-5">
        <h2>Search your city</h2>
        <input class="glassMorph mt-3" [(ngModel)]="cityName" placeholder="City" />
        <div *ngIf="errorMsg !== ''" class="error-msg mt-3" role="alert">
            {{errorMsg | titlecase}}
        </div>
        <button class="wa-primary-btn mt-3" (click)="getWeatherForecast()">Display Weather</button>
    </div>
</section>


<app-weather *ngIf="cityWeather" [cityWeather]="cityWeather" (out)="resetWeather()"></app-weather>